/* General */
:root {
      --white: #FFFFFF;
      --black: #000000;
      --fondo-oscuro: #1a1818e3;
      --text-input-field: #F7F7F7;
      --hospital-green: #ACD9B2;
      --fondo-azul: rgb(9, 9, 65);
      --sm: 14px;
      --md: 16px;
      --lg: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: white;
  font-family: 'Quicksand', sans-serif;
}


section[id] {
  scroll-margin-top: 50px;
}

.inactive {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s, opacity .5s;
}

/* Navbar */
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  box-shadow: 0 4px 5px rgb(235, 235, 235);
  background-color: white;
  left: 0;
  top: 0;
  z-index: 100;
}
nav img {
  height: 48px;
  margin-left: 20px;
  border-radius:  12px;
}
.menu {
  display: none;
  width: 30px;
}
.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  padding: 0 15px;
}

.nav-menu a{
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
}
.nav-menu a::after {
  content: "";
  background-color: var(--secundary-color);
  position: absolute;
  left: 0;
  top: calc(100% + 4px);
  width: 100%;
  height: 4px;

  opacity: 0;
  transition: opacity 0.3s;
}
.nav-menu a.selected::after,
.nav-menu a:hover::after {
  opacity: 0.8;
}

.nav-menu a:hover {
  color: var(--primary-color);
}


.nav-profile {
  width: 100px;
  display: flex;

}


nav p {
  font-size: 1.5em;
  padding-left: 30px;
}
nav .icons {
  width: auto;
  display: flex;
  gap: 15px;
}
nav .icons button {
  background: none;
  border-style: none;
}


/* ---------------------Menu en mobile--------- */
.mobile-menu {
  background-color: white;
  border-radius: 20px;
  position: absolute;
  cursor: pointer;
  top: 61px;
  width: calc(100% - 24px);
  left: 0;
  padding-left: 24px;
  transition: transform 400ms;
}
.oculto {
  transform: translateX(-100%);
  transition: transform 400ms;
}

.mobile-menu a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  /* margin-bottom: 24px; */
}
.mobile-menu ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}
.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid var(--very-light-pink);
}
.mobile-menu ul li {
  margin-bottom: 24px;
}

/* TEXTO DE FONDO INFORMATIVO */
.fondo-informativo {
  width: 100%;
  color: var(--white);
  position: absolute;
  top: 450px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
  z-index: 7;

}


/* -----------------------------SWIPER----------------- */

.swiper-hero {
  margin-top: 60px;
  margin-bottom: -4px;
  width: 100%;
  text-align: center;
  max-width: 1600px;
}
.swiper-hero img {
  width: 100%;
  height: 500px;
}

/*  ------------SOBRE NOSOTROS----------------*/

.info-section {
  width: 100%;
  background-color: var(--fondo-oscuro);
}

.banner-section {
  width: 100%;
  padding: 40px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner-section h1 {
  text-align: center;
  color: var(--white);
  font-size: var(--lg);
  width: 50%;
}

.division{
  width: 50%;
  padding: 0 5px;
}  
.line {
  width: auto;
  border-top: 2px solid var(--fondo-azul); /* Línea negra en la parte superior */
}
.mission-section {
  width: 100%;
  display: flex;
  margin: 0 auto;
  color: var(--white);
  
}
.mission-section-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  line-height: 24px;
  gap: 32px;
  
}
.mission-section-logo img {
  width: 50%;
  
} 
.mission-section-logo p {
  width: 80%;
  text-align: justify;
}

.location {
  font-size: 24px;
  color: var(--white);
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.location h2 {
  padding-bottom: 0;
  color: var(--white);
}
.location .map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  width: 100%;
  height: 100%;
  gap: 32px;
}
.location .map img {
  height: 500px;
  border-radius: 8px;
}

/* ------SECCIÓN DE ESPECIALIDAD----- */
.especialidad {
  width: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.titulo {
  margin-top: 20px;
  font-size: var(--sm);
}
.especialidad-cards{
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-evenly;
  margin-bottom: 20px;  
  
}
.card-section {
  width: 300px;
  height: 300;
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  font-family:'Quicksand', sans-serif;
}
.card-section img {
  width: 100%;
  -webkit-box-shadow: 9px 14px 5px 0px rgba(212,204,212,0.81);
-moz-box-shadow: 9px 14px 5px 0px rgba(212,204,212,0.81);
box-shadow: 9px 14px 5px 0px rgba(212,204,212,0.81);
}

/*  --------------LO QUE OFRECEMOS---------------- */
.ofrecemos {
  width: 100%;
  align-items: center;
  gap: 30px;
}

.main-container {
  background-color: rgb(198, 207, 207);
}
.main-container h1 {
  color: black;
}
.cards-container {
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 26px;
  place-content: center;
  margin-top: 24px;
  word-wrap: normal;
}
.product-card {
  border-radius: 20px;
  width: 240px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  cursor: pointer;
}

.product-card img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
}
.product-card .product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin: 10px 8px;
}
.product-card .product-info figure {
  margin: 0;
}
.product-card .product-info figure img {
  width: 35px;
  height: 35px;
}
.product-card .product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}
.product-card .product-info div p:nth-child(2) {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--very-light-pink);
}

/* ------------ FOOTER -----------*/

.footer {
  width: 100%;
  background-color: var(--fondo-oscuro);
  padding: 20px 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: white;
  font-size: var(--sm);
}
.img-content {
  width: 100px;
}
.img-content img {
  width: 100% ;
}

.footer-content {
  width: 200px;
  height: 120px;
}
.social-media {
  display: flex;
  margin-top: 20px;
  width: 100%;
  height: 50px;
}
.social-media img {
  width: 50%;
}

@media (max-width: 641px) {
    .nav-menu {
  display: none;
  }
  .menu {
  display: block;
  cursor: pointer;
  }
  .fondo-informativo {
    font-size: var(--sm);
    text-align: center;
  }
  .fondo-informativo p {
    font-size: var(--md);
    font-weight: bold;
  }
  .banner-section h1 {
    font-size: var(--sm);
  }
  .menu-logo {
    margin: 0px 20px 0px 0px; 
  }
  .mission-section-logo P{
    font-size: var(--sm);
  }
  .mission-section-logo img{
    width: 100%;
  }
  .footer {
    gap: 20px;
  }


}
