/* General */
:root {
      --white: #FFFFFF;
      --black: #000000;
      --fondo-oscuro: #1a1818e3;
      --text-input-field: #F7F7F7;
      --hospital-green: #ACD9B2;
      --fondo-azul: rgb(9, 9, 65);
      --sm: 12px;
      --md: 18px;
      --lg: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0 auto;
  background-color: white;
  font-family: 'Quicksand', sans-serif;
}


section[id] {
  scroll-margin-top: 50px;
}

.inactive {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s, opacity .5s;
}

/* Navbar */
nav {
  width: 100%;
  margin: 0 auto;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 30%;
  align-items: center;
  position: fixed;
  box-shadow: 0 4px 5px rgb(235, 235, 235);
  background-color: var(--fondo-oscuro);
  top: 0;
  z-index:100 ;
  color: var(--white);
}

nav img {
  height: 48px;
  margin-left: 20px;
  border-radius:  12px;
}
.menu {
  display: none;
  width: 30px;
}
.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  padding: 0 15px;
}

.nav-menu a{
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
}
.nav-menu a::after {
  content: "";
  background-color: var(--secundary-color);
  position: absolute;
  left: 0;
  top: calc(100% + 4px);
  width: 100%;
  height: 4px;

  opacity: 0;
  transition: opacity 0.3s;
}
.nav-menu a.selected::after,
.nav-menu a:hover::after {
  opacity: 0.8;
}

.nav-menu a:hover {
  color: var(--primary-color);
}


.nav-profile {
  width: 100px;
  display: flex;

}


nav p {
  font-size: 1.5em;
  padding-left: 30px;
}
nav .icons {
  width: auto;
  display: flex;
  gap: 15px;
}
nav .icons button {
  background: none;
  border-style: none;
}


/* ---------------------Menu en mobile--------- */
.mobile-menu {
  background-color: white;
  border-radius: 20px;
  position: absolute;
  cursor: pointer;
  top: 61px;
  width: calc(100% - 24px);
  left: 0;
  padding-left: 24px;
  transition: transform 400ms;
  color: var(--black);
}
.oculto {
  transform: translateX(-100%);
  transition: transform 400ms;
}

.mobile-menu a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  /* margin-bottom: 24px; */
}
.mobile-menu ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}
.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid var(--very-light-pink);
}
.mobile-menu ul li {
  margin-bottom: 24px;
}

/* TEXTO DE FONDO INFORMATIVO */
.fondo-informativo {
  width: 100%;
  font-size: var(--lg);
  font-weight: bold;
  color: var(--white);
  position: absolute;
  top: 450px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
  z-index: 7;

}


/* -----------------------------SWIPER----------------- */

.swiper-hero {
  margin-top: 60px;
  margin-bottom: -4px;
  width: 100%;
  text-align: center;
  max-width: 1600px;
}
.swiper-hero img {
  width: 100%;
  height: 500px;
}

/*  ------------SOBRE NOSOTROS----------------*/

.info-section {
  width: 100%;
  background-color: var(--white);
}
.about-us {
  max-width: 1140px;
  margin: 0 auto;
}

.banner-section {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner-section h1 {
  text-align: center;
  color: var(--black);
  font-size: var(--lg);
  width: 50%;
}

.division{
  width: 50%;
  padding: 0 5px;
}  
.line {
  width: auto;
  border-top: 2px solid var(--fondo-azul); /* Línea negra en la parte superior */
}
.mission-section {
  width: 50%;
  display: flex;
  margin: 0 auto;
  color: var(--white);
  
}
.mission-section-logo {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  line-height: 24px;
  gap: 32px;
  
}
.mission-section-logo img {
  width: 30%;
  border-radius: 20px;
  -webkit-box-shadow: 9px 14px 5px 0px rgba(212,204,212,0.81);
-moz-box-shadow: 9px 14px 5px 0px rgba(212,204,212,0.81);
box-shadow: 9px 14px 5px 0px rgba(212,204,212,0.81);

  
} 
.mission-section-logo p {
  width: 80%;
  text-align: justify;
  color: var(--black);
}

.location {
  font-size: 24px;
  color: var(--white);
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.location h2 {
  padding-bottom: 0;
  color: var(--white);
}
.location .map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  width: 100%;
  height: 100%;
  gap: 32px;
}
.location .map img {
  height: 500px;
  border-radius: 8px;
}
/* ------ZONA DE PRODUCTOS---------- */
.prodcuts-container {
  max-width: 1140px;
  display: flex;
  margin: 16px auto;

}
.prodcut-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.333%;
  padding: 10px;
  border-style: solid ;
  border-color: var(--fondo-azul);
  border-width: 2px 2px 0px 0px;
  margin: 16px 16px;
}
.prodcut-container-img{
  width: 100%;
  overflow: hidden;
}
.prodcut-container-img img{
  width: 100%;
  border-radius: 0px 60px;
  object-fit: cover;
  transition: 0.5s;
}
.prodcut-container-img img:hover{
  transform:scale(1.2)
}
.prodcut-container p {
  width: 100%;
  text-align: center;
  font-size: var(--lg);
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
}
.prodcut-container-buttons{
  width: 100%;
  display: flex;
  margin-top: 20px;
}
.prodcut-container-buttons button{
  width: 50%;
  height: 40px;
  border-style: solid;
  border-color: var(--hospital-green);
  border-width: 2px 2px 0px 0px;
  border-radius: 8px;
  background-color: var(--white);
  color: var(--black);
  font-size: var(--md);
  color: var(--white);
  
}
.prodcut-container-buttons :nth-child(1){
  background-color: var(--fondo-oscuro);
}
.prodcut-container-buttons :nth-child(2){
  background-color: var(--fondo-azul);
}



/* ------SECCIÓN DE ESPECIALIDAD----- */
.especialidad {
  max-width: 1140px;
  margin: 0 auto;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.especialidad h1 {
  color: black;
}
.especialidad-cards{
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  justify-content: space-evenly;
  margin-bottom: 20px;  
  
}
.card-section {
  width: 300px;
  height: 288px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 15px;
  font-family:'Quicksand', sans-serif;
}
.card-section-tittle{
  width: 100%;
  height: 80px;
}
.card-section-tittle span{
  font-size: var(--sm);
}

.card-section img {
  border-radius: 0px 60px;
  width: 100%;
  height: 200px;
  -webkit-box-shadow: 9px 14px 5px 0px rgba(212,204,212,0.81);
-moz-box-shadow: 9px 14px 5px 0px rgba(212,204,212,0.81);
box-shadow: 9px 14px 5px 0px rgba(212,204,212,0.81);
}

/*  --------------LO QUE OFRECEMOS---------------- */
.ofrecemos {
  width: 100%;
  align-items: center;
  gap: 30px;
}

.main-container {
  max-width: 1140px;
  margin: 0 auto;
  background-color: var(--white);
}
.main-container h1 {
  color: black;
}
.cards-container {
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 26px;
  place-content: center;
  margin-top: 8px;
  word-wrap: normal;
}
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 8px;
  border-radius: 20px;
  width: 240px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  cursor: pointer;
}

.product-card img {
  width: 100%;  
}
.product-card .product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin: 10px 8px;
}
.product-card .product-info figure {
  margin: 0;
}
.product-card .product-info figure img {
  width: 35px;
  height: 35px;
}
.product-card .product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}
.product-card .product-info div p:nth-child(2) {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--very-light-pink);
}

/* ------------ FOOTER -----------*/

footer {
  background-color: var(--fondo-oscuro);
}
.footer {
  max-width: 1140px;
  margin: 0 auto;
  height: auto;
  padding: 32px 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: white;
  font-size: var(--sm);
}
.img-content {
  width: 200px;
  text-align: center;
}
.img-content img {
  width: 50% ;
  border-radius: 12px;
}

.footer-content {
  width: 200px;
  height: 100px;
}
.social-media {
  display: flex;
  margin-top: 20px;
  width: 100%;
  height: 50px;
}
.social-media img {
  width: 50%;
}

.whatsapp-float {
  position: fixed;
  width: 190px;
  height: 48px;
  bottom: 40px;
  right: 30px;
  background-image: url(../imgpresenta/whatss-ap-1.png);
  background-repeat: no-repeat;
  background-position: center;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.whatsapp-float i {
  display: none;
  height: 38px;
  margin-top: 14px;
  border-radius: 20px;
  
}

.my-float {
  margin-top: 16px;
}
@media (max-width: 641px) {
  nav {
    justify-content: space-between;
  }
  .nav-menu {
  display: none;
  }
  .menu {
  display: block;
  cursor: pointer;
  }
  .fondo-informativo {
    font-size: var(--sm);
    text-align: center;
    top: 280px;
  }
  .fondo-informativo p {
    font-size: var(--sm);
    padding: 0px 20px;
    font-weight: bold;
  }

  .swiper-hero img {
  width: 100%;
  height: 300px;
  }
  .banner-section h1 {
    width: 100%;
    font-size: var(--md);
  }
  .menu-logo {
    margin: 0px 20px 0px 0px; 
  }
  .mission-section{
    width: 100%;
  }
  .mission-section-logo {
    flex-direction: column;
    width: 100%;
  }
  .mission-section-logo P{
    width: 100%;
    font-size: var(--sm);
  }
  .mission-section-logo img{
    width: 60%;
  }
  .prodcuts-container {
    flex-direction: column;  
  }
  .prodcut-container {
    width: 90%;
  }

  .cards-container {
    grid-template-columns: repeat(auto-fill,100px);
    padding: 0px 20px 30px 20px;
  }
  .product-card{
    width: 100%;
    justify-items: center;
    align-items: center;
  }
  .whatsapp-float {
    background-image: none;
    background-color: #25d366;
    width: 60px;
    height: 40px;
  }
  .whatsapp-float i{
    display:contents;
  }


  .footer {
    gap: 20px;
  }


}
